* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ACCENT-COLOR: rgb(0, 0, 0);
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-items: center;
	background-color: rgb(8, 0, 56);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	background-color: rgb(4, 0, 30);
	text-align: center;
	padding: 2vh;
	font-size: 5vh;
	color: rgb(200, 200, 255);
}

footer {
	padding: 0.4rem;
	text-align: center;
	background-color: rgb(4, 0, 30);
	font-size: 2vh;
	color: rgb(200, 200, 255);
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

img {
	width: min(60vw, 400px);
	/* max-width: 40vw; */
	/* margin: 1rem; */
	box-shadow: 0px 3px 5px 5px rgb(0, 0, 0);
	margin-bottom: 5vh;
}

.main-container {
	background-color: rgb(6, 0, 39);
	padding: 2vw;
	border-radius: 2vh;
	box-shadow: 0px 3px 5px rgb(0, 0, 0) inset;
	display: flex;
	/* height: min(70vh, 110vw); */
	align-items: center;
}

figure {
	padding: 1vh min(5vw, 1.5rem);
	display: flex;
	align-items: baseline;
}

.something {
	display: flex;
	height: min(55vh, 70vw);
	align-items: center;
	justify-content: center;
	margin-top: 2vh;
}

figcaption {
	text-align: center;
	color: rgb(200, 200, 255);
	font-size: min(1rem, 7vw);
}

.left-arrow,
.right-arrow {
	width: 0;
	height: 0;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	display: inline-block;
}

.left-arrow {
	border-right: 1rem solid whitesmoke;
}

.right-arrow {
	border-left: 1rem solid whitesmoke;
}

.left-arrow:hover,
.right-arrow:hover {
	cursor: pointer;
}
