* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ACCENT-COLOR: rgb(62, 20, 101);
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-items: center;
}

h1 {
	text-align: center;
}

footer {
	padding: 0.4rem;
	text-align: center;
	background-color: var(--ACCENT-COLOR);
}

main {
	display: flex;
}

img {
	max-width: 40vw;
}

.description {
	padding: 2rem;
}

.image-container {
	margin: auto 5vw;
}

figure {
	padding: 1vh 1vw;
}

figcaption {
	text-align: center;

}